.custom-react-slider.noUi-target {
    background: #e9ecef !important;
    border-radius: 10px !important;
    border: none !important;
    height: 6px !important;
    box-shadow: none !important;
    direction: rtl; /* اگر نیاز باشد */
}
.custom-react-slider .noUi-connect {
    background: #ef4056 !important;
}
.custom-react-slider .noUi-handle {
    border: 2px solid #ef4056 !important;
    background: #fff !important;
    border-radius: 50% !important;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2) !important;
    cursor: pointer !important;
    width: 22px !important;
    height: 22px !important;
    top: -8px !important;
}
.custom-react-slider .noUi-handle::before,
.custom-react-slider .noUi-handle::after {
    display: none !important;
}