.custom-rc-slider .rc-slider-rail {
    background-color: #e9ecef !important;
    height: 8px !important;
    border-radius: 10px !important;
}

.custom-rc-slider .rc-slider-track {
    background-color: #ef4056 !important;
    height: 8px !important;
}

.custom-rc-slider .rc-slider-handle {
    border: 3px solid #ef4056 !important;
    background-color: #fff !important;
    width: 24px !important;
    height: 24px !important;
    margin-top: -8px !important;
    opacity: 1 !important;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15) !important;
    cursor: grab !important;
}

.custom-rc-slider .rc-slider-handle:active {
    cursor: grabbing !important;
    border-color: #d82a40 !important;
}

.custom-rc-slider .rc-slider-handle:hover,
.custom-rc-slider .rc-slider-handle:focus {
    box-shadow: 0 0 0 4px rgba(239, 64, 86, 0.2) !important;
    border-color: #ef4056 !important;
    outline: none !important;
}

.breadcrumb {
    display: flex !important;
    align-items: center !important;
    flex-wrap: wrap !important;
    margin-bottom: 0 !important;
}

.breadcrumb-item {
    display: flex !important;
    align-items: center !important;
}

.breadcrumb-item a {
    display: flex !important;
    align-items: center !important;
    gap: 4px;
}

.breadcrumb-item a i {
    display: flex !important;
    align-items: center !important;
    margin-top: -3px;
}

.breadcrumb-item + .breadcrumb-item::before {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding-top: 1px;
}

.breadcrumb-item.active {
    display: flex !important;
    align-items: center !important;
    padding-top: 2px;
}