version: '3.8'

services:
  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB={{ db_name }}
      - POSTGRES_USER={{ db_user }}
      - POSTGRES_PASSWORD={{ db_password }}
    restart: always

  redis:
    image: redis:7-alpine
    restart: always

  web:
    build: 
      context: .
      dockerfile: ./docker/prod/django/Dockerfile
    command: gunicorn {{ project_name }}.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/mediafiles
    environment:
      - DJANGO_SETTINGS_MODULE={{ project_name }}.settings.prod
      - DATABASE_URL=postgres://{{ db_user }}:{{ db_password }}@db:5432/{{ db_name }}
      - REDIS_URL=redis://redis:6379/0
    depends_on:
      - db
      - redis
    restart: always

  celery:
    build:
      context: .
      dockerfile: ./docker/prod/celery/Dockerfile
    command: ./docker/prod/celery/start_worker
    environment:
      - DJANGO_SETTINGS_MODULE={{ project_name }}.settings.prod
      - DATABASE_URL=postgres://{{ db_user }}:{{ db_password }}@db:5432/{{ db_name }}
      - REDIS_URL=redis://redis:6379/0
    depends_on:
      - db
      - redis
    restart: always

  celery-beat:
    build:
      context: .
      dockerfile: ./docker/prod/celery/Dockerfile
    command: ./docker/prod/celery/start_beat
    environment:
      - DJANGO_SETTINGS_MODULE={{ project_name }}.settings.prod
      - DATABASE_URL=postgres://{{ db_user }}:{{ db_password }}@db:5432/{{ db_name }}
      - REDIS_URL=redis://redis:6379/0
    depends_on:
      - db
      - redis
    restart: always

  prerender:
    build:
      context: .
      dockerfile: ./docker/prerender/Dockerfile
    restart: always

  nginx:
    build:
      context: .
      dockerfile: ./docker/prod/nginx/Dockerfile
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/mediafiles
      - ./frontend/dist:/usr/share/nginx/html
    depends_on:
      - web
      - prerender
    restart: always

volumes:
  postgres_data:
  static_volume:
  media_volume: