# arkkala/platform_painless/templates/nginx.jinja
upstream web_api {
    server web:8000;
}

server {
    listen 80;
    server_name {{ domain_name }};

    location /api/ {
        proxy_pass http://web_api;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    location /admin/ {
        proxy_pass http://web_api;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    location /media/ {
        alias /app/mediafiles/;
    }

    location /static/ {
        alias /app/staticfiles/;
    }

    location / {
        root /usr/share/nginx/html;
        index index.html index.htm;
        
        set $prerender 0;
        
        if ($http_user_agent ~* "torob|emalls|snappbot|googlebot|yahoo|bingbot|baiduspider|yandex|yeti|yodabot|gigabot|ia_archiver|facebookexternalhit|twitterbot|developers\.google\.com|linkedinbot|bot") {
            set $prerender 1;
        }
        if ($args ~ "_escaped_fragment_") {
            set $prerender 1;
        }
        if ($http_user_agent ~ "Prerender") {
            set $prerender 0;
        }
        if ($uri ~* "\.(js|css|xml|less|png|jpg|jpeg|gif|pdf|doc|txt|ico|rss|zip|mp3|rar|exe|wmv|doc|avi|ppt|mpg|mpeg|tif|wav|mov|psd|ai|xls|mp4|m4a|swf|dat|dmg|iso|flv|m4v|torrent|ttf|woff|woff2|svg|eot)$") {
            set $prerender 0;
        }

        if ($prerender = 1) {
            rewrite .* /$scheme://$host$request_uri? break;
            proxy_pass http://prerender:3000;
        }
        
        try_files $uri $uri/ /index.html;
    }
}