amqp==5.3.1
anyio==4.14.1
asgiref==3.11.1
asttokens==3.0.2
attrs==26.1.0
autopep8==2.3.2
billiard==4.2.4
celery==5.6.3
certifi==2026.6.17
cffi==2.1.1
charset-normalizer==3.4.7
click==8.4.2
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
coverage==7.15.3
cryptography==50.0.0
decorator==5.3.1
Django==6.0.6
django-cors-headers==4.9.0
django-debug-toolbar==7.0.0
django-filter==25.2
django-jsonform==2.23.2
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.27.2
executing==2.2.1
Faker==40.28.1
gitdb==4.0.12
GitPython==3.1.58
gunicorn==26.0.0
h11==0.16.0
httptools==0.8.0
idna==3.18
inflection==0.5.1
iniconfig==2.3.0
ipython==9.15.0
ipython_pygments_lexers==1.1.1
jedi==0.20.0
Jinja2==3.1.6
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kombu==5.6.2
MarkupSafe==3.0.3
matplotlib-inline==0.2.2
mimesis==21.0.0
packaging==26.2
parso==0.8.7
pexpect==4.9.0
pillow==12.3.0
pluggy==1.6.0
prompt_toolkit==3.0.52
psutil==7.2.2
psycopg2-binary==2.9.12
ptyprocess==0.7.0
pure_eval==0.2.3
pycodestyle==2.14.0
pycparser==3.0
Pygments==2.20.0
PyJWT==2.13.0
pytest==9.1.1
pytest-cov==7.1.0
pytest-django==4.13.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytz==2026.2
PyYAML==6.0.3
redis==8.0.1
referencing==0.37.0
requests==2.34.2
rest-framework-simplejwt==0.0.2
rpds-py==2026.6.3
six==1.17.0
smmap==5.0.3
sorl-thumbnail==13.0.0
sqlparse==0.5.5
stack-data==0.6.3
traitlets==5.15.1
typing_extensions==4.16.0
tzdata==2026.2
tzlocal==5.4.4
uritemplate==4.2.0
urllib3==2.7.0
uvicorn==0.49.0
uvloop==0.22.1
vine==5.1.0
watchfiles==1.2.0
wcwidth==0.8.2
websockets==16.0
